/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2020, 9:59:42 PM
    Author     : Onin
*/
body{
    
}
.hidden{
    display: none;
}

.timer h1 {
    text-align: center;
    font-family: "Arial Black";
    font-size: 20vw;
    line-height: 23VW;
    transform: scale(1, 1.5);
}
#timerGrp{
    padding-left: 33px;
}

.timer{
    padding-bottom: 30px
}

.btnlist{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #3f3f3f;
    width: 53px;
    border-right: 1px solid black;
}

.btnlist .btn{
    margin-top: 10px;
    margin-left: 3px;
}

.timer-control{
/*    position: fixed;
    right: 20px;
    top: 17px;*/
    display: none;
}
.task-item{
    cursor: pointer;
}
.blockMsg{
    z-index: 99999!important;
}
.chk{
    padding-top: 0;
    margin-top: -26px;
}

.btn-logout{
    position: absolute;
    bottom: 7px;
}